h1 {
  color: #F4CE14;
  font-family: Markazi Text;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 30px;
}

p {
  color: white;

}

p {
  font-size: 14px;
}
.header{
  background-color: #495E57;
}
 .food {
   width: 40vw;
   height: 30vh;
  border-radius: 20px;


 }

@media (min-width: 800px){
  .food {
    width: 30vw;
    height: 60vh;
    border-radius: 20px;
    margin-bottom: 20px;
    }
  p {
    font-size: 20px;
  }
  h1 {
    color: #F4CE14;
    font-family: Markazi Text;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 30px;
  }
  .button-reserve {
    margin: 15px;
    font-size: 36px;
  }

}
.flex-header{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.info{
  width: 30vw;
  display: flex;
  flex-direction: column;
  
}
.button-reserve {
  background-color: sandybrown;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  width: 300px;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
}
